[submodule "plugins/welcome"]
	path = plugins/welcome
	url = https://github.com/dismob/welcome.git
[submodule "plugins/tickets"]
	path = plugins/tickets
	url = https://github.com/dismob/tickets.git
[submodule "plugins/logs"]
	path = plugins/logs
	url = https://github.com/dismob/logs.git
[submodule "plugins/moderation"]
	path = plugins/moderation
	url = https://github.com/dismob/moderation.git
